.btn {
  padding: 8px 10px;
  background-color: #69ebb9;
  border-radius: 50px;
  color: #fff;
  margin-bottom: 16px;
}
.content {
  text-align: center;
}
.popover {
  width: 500px;
  padding: 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  z-index: 999;
  background-color: #fff;
}
.add-body {
  margin-top: 10px;
}
.field {
  display: flex;
  margin-bottom: 10px;
}
.field label {
  width: 30%;
}
.field input {
  width: 70%;
  border-radius: 6px;
  padding: 6px 8px;
  border: 1px solid #817e7e;
}
.bottom {
  display: flex;
  justify-content: space-around;
}
.mb-2 {
  margin-bottom: 10px;
}